USE [master]
GO
/****** Object:  Database [QLMuaBanXe]    Script Date: 11/23/2020 11:07:25 AM ******/
CREATE DATABASE [QLMuaBanXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLMuaBanXe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLMuaBanXe.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLMuaBanXe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLMuaBanXe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMuaBanXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLMuaBanXe]
GO
/****** Object:  Table [dbo].[CTHoaDonXe]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDonXe](
	[maHoaDon] [nvarchar](6) NOT NULL,
	[maXe] [nvarchar](6) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [money] NOT NULL,
	[thanhTien] [money] NOT NULL,
 CONSTRAINT [PK_CTHoaDonXe] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonXe]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonXe](
	[maHoaDon] [nvarchar](6) NOT NULL,
	[ngayLap] [datetime] NOT NULL,
	[maNhanVien] [nvarchar](6) NOT NULL,
	[maKhachHang] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_HoaDonXe] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](6) NOT NULL,
	[tenKhachHang] [nvarchar](50) NOT NULL,
	[diaChiKhachHang] [nvarchar](500) NOT NULL,
	[CMND] [nvarchar](9) NOT NULL,
	[soDienThoai] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauXe]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauXe](
	[maMau] [nvarchar](6) NOT NULL,
	[tenMau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MauXe] PRIMARY KEY CLUSTERED 
(
	[maMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [nvarchar](6) NOT NULL,
	[tenNCC] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[diaChiNCC] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](6) NOT NULL,
	[tenNhanVien] [nvarchar](50) NOT NULL,
	[soDienThoai] [nvarchar](10) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[CMND] [nvarchar](9) NOT NULL,
	[diaChiNV] [nvarchar](500) NOT NULL,
	[tinhTrang] [bit] NOT NULL,
	[chucVu] [bit] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[maNSX] [nvarchar](6) NOT NULL,
	[tenNSX] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[diaChiNSX] [nvarchar](500) NOT NULL,
	[namSX] [datetime] NOT NULL,
 CONSTRAINT [PK_NuocSanXuat] PRIMARY KEY CLUSTERED 
(
	[maNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maNhanVien] [nvarchar](6) NOT NULL,
	[taiKhoan] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 11/23/2020 11:07:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[maXe] [nvarchar](6) NOT NULL,
	[nhanHieu] [nvarchar](50) NOT NULL,
	[maMau] [nvarchar](6) NOT NULL,
	[dungTich] [int] NOT NULL,
	[maNCC] [nvarchar](6) NOT NULL,
	[maNSX] [nvarchar](6) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaNhap] [money] NOT NULL,
	[ngayNhap] [datetime] NOT NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[maXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHoaDonXe]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonXe_HoaDonXe] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDonXe] ([maHoaDon])
GO
ALTER TABLE [dbo].[CTHoaDonXe] CHECK CONSTRAINT [FK_CTHoaDonXe_HoaDonXe]
GO
ALTER TABLE [dbo].[CTHoaDonXe]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonXe_Xe] FOREIGN KEY([maXe])
REFERENCES [dbo].[Xe] ([maXe])
GO
ALTER TABLE [dbo].[CTHoaDonXe] CHECK CONSTRAINT [FK_CTHoaDonXe_Xe]
GO
ALTER TABLE [dbo].[HoaDonXe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonXe_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDonXe] CHECK CONSTRAINT [FK_HoaDonXe_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonXe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonXe_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDonXe] CHECK CONSTRAINT [FK_HoaDonXe_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_MauXe] FOREIGN KEY([maMau])
REFERENCES [dbo].[MauXe] ([maMau])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_MauXe]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_NhaCungCap] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_NhaCungCap]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_NuocSanXuat] FOREIGN KEY([maNSX])
REFERENCES [dbo].[NhaSanXuat] ([maNSX])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_NuocSanXuat]
GO
USE [master]
GO

insert into [dbo].[NhanVien] values ('NV001',N'Nguyễn Thị Hảo Anh','0356945125',1,'02575157', N'410, Thới An, Q.12, TP.HCM', 1,1)
insert into [dbo].[NhanVien] values ('NV002',N'Nguyễn Thùy','0856159825', 1,'256952102',N'555, Tân Chánh Hiệp, Q.12, TP.HCM', 1,0)

insert into [dbo].[TaiKhoan] values ('NV001','admin','123')
insert into [dbo].[TaiKhoan] values ('NV002','user','123')

insert into [dbo].[NhaCungCap] values('NCC001','HondaVN','hondaVN@gmail.com','Viet Nam')
insert into [dbo].[NhaCungCap] values('NCC002','YamahaVN','hondaVN@gmail.com','Viet Nam')

insert into [dbo].[NhaSanXuat] values('NSX001','Honda','a@gmail.com','VN','20201112')
insert into [dbo].[NhaSanXuat] values('NSX002','Yamaha','a@gmail.com','VN','20201112')

insert into [dbo].[KhachHang] values('KH001',N'Từ','VN','123456789','0958444444')
insert into [dbo].[KhachHang] values('KH002',N'Duyên','VN','123456789','0958444444')

insert into [dbo].[Xe] values ('Xe001','Vision','M001',50,'NCC001','NSX001',6,20000000,'20201012')
insert into [dbo].[Xe] values ('Xe002','SH','M002',50,'NCC001','NSX002',6,20000000,'20201012')

insert into [dbo].[MauXe] values ('M001',N'Đen')
insert into [dbo].[MauXe] values ('M002',N'Đỏ')

insert into [dbo].[HoaDonXe] values ('HD001','20201120','NV001','KH001')
insert into [dbo].[HoaDonXe] values ('HD002','20201120','NV002','KH002')

//insert into [dbo].[CTHoaDonXe] values('HD001')