USE [master]
GO
/****** Object:  Database [QLMuaBanXe]    Script Date: 11/18/2020 11:03:02 PM ******/
CREATE DATABASE [QLMuaBanXe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLMuaBanXe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLMuaBanXe.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLMuaBanXe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLMuaBanXe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMuaBanXe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLMuaBanXe]
GO
/****** Object:  UserDefinedFunction [dbo].[tuDong_maHD]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[tuDong_maHD]()
RETURNS nvarchar(5)
AS
BEGIN
	DECLARE @ID nvarchar(5)
	IF (SELECT COUNT(maHoaDon) FROM HoaDonXe) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(maHoaDon, 3)) FROM HoaDonXe
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HD00' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HD0' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[tuDong_maKH]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[tuDong_maKH]()
RETURNS nvarchar(5)
AS
BEGIN
	DECLARE @ID nvarchar(5)
	IF (SELECT COUNT(maKhachHang) FROM KHACHHANG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(maKhachHang, 3)) FROM KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH00' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KH0' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[tuDong_maNCC]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[tuDong_maNCC]()
RETURNS nvarchar(5)
AS
BEGIN
	DECLARE @ID nvarchar(5)
	IF (SELECT COUNT(maNCC) FROM NhaCungCap) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(maNCC, 3)) FROM NhaCungCap
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'CC00' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'CC0' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[tuDong_maNSX]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*Nuoc san xuat*/
create function [dbo].[tuDong_maNSX]()
RETURNS nvarchar(5)
AS
BEGIN
	DECLARE @ID nvarchar(5)
	IF (SELECT COUNT(maNSX) FROM NuocSanXuat) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(maNSX, 3)) FROM NuocSanXuat
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'SX00' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'SX0' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[tuDong_maNV]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[tuDong_maNV]()
RETURNS nvarchar(5)
AS
BEGIN
	DECLARE @ID nvarchar(5)
	IF (SELECT COUNT(maNhanVien) FROM NhanVien) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(maNhanVien, 3)) FROM NhanVien
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NV00' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'NV0' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[tuDong_maXe]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[tuDong_maXe]()
RETURNS nvarchar(5)
AS
BEGIN
	DECLARE @ID nvarchar(5)
	IF (SELECT COUNT(maXe) FROM Xe) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(maXe, 3)) FROM Xe
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'XE00' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'XE0' + CONVERT(nvarchar, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[CTHoaDonXe]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDonXe](
	[maHoaDon] [nvarchar](6) NOT NULL,
	[maXe] [nvarchar](6) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [money] NOT NULL,
	[thanhTien] [money] NOT NULL,
 CONSTRAINT [PK_CTHoaDonXe] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonXe]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonXe](
	[maHoaDon] [nvarchar](6) NOT NULL,
	[ngayLap] [date] NOT NULL,
	[maNhanVien] [nvarchar](6) NOT NULL,
	[maKhachHang] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_HoaDonXe] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](6) NOT NULL,
	[tenKhachHang] [nvarchar](50) NOT NULL,
	[diaChiKhachHang] [nvarchar](500) NOT NULL,
	[CMND] [nvarchar](9) NOT NULL,
	[soDienThoai] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauXe]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauXe](
	[maMau] [nvarchar](6) NOT NULL,
	[tenMau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MauXe] PRIMARY KEY CLUSTERED 
(
	[maMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [nvarchar](6) NOT NULL,
	[tenNCC] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[diaChiNCC] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](6) NOT NULL,
	[tenNhanVien] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[CMND] [nvarchar](9) NOT NULL,
	[diaChiNV] [nvarchar](500) NOT NULL,
	[soDienThoai] [nvarchar](10) NOT NULL,
	[tinhTrang] [bit] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[maNSX] [nvarchar](6) NOT NULL,
	[tenNSX] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[diaChiNSX] [nvarchar](500) NOT NULL,
	[namSX] [date] NOT NULL,
 CONSTRAINT [PK_NuocSanXuat] PRIMARY KEY CLUSTERED 
(
	[maNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maNhanVien] [nvarchar](6) NOT NULL,
	[taiKhoan] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
	[chucVu] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 11/18/2020 11:03:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[maXe] [nvarchar](6) NOT NULL,
	[dungTich] [int] NOT NULL,
	[nhanHieu] [nvarchar](50) NOT NULL,
	[maMau] [nvarchar](6) NOT NULL,
	[maNCC] [nvarchar](6) NOT NULL,
	[maNSX] [nvarchar](6) NOT NULL,
	[ngayNhap] [date] NOT NULL,
	[giaNhap] [money] NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[maXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDonXe] ADD  CONSTRAINT [DF__HoaDonXe__maHoaD__182C9B23]  DEFAULT ([dbo].[tuDong_maHD]()) FOR [maHoaDon]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ([dbo].[tuDong_maKH]()) FOR [maKhachHang]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ([dbo].[tuDong_maNCC]()) FOR [maNCC]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__maNhan__239E4DCF]  DEFAULT ([dbo].[tuDong_maNV]()) FOR [maNhanVien]
GO
ALTER TABLE [dbo].[NhaSanXuat] ADD  CONSTRAINT [DF__NuocSanXu__maNSX__1DE57479]  DEFAULT ([dbo].[tuDong_maNSX]()) FOR [maNSX]
GO
ALTER TABLE [dbo].[Xe] ADD  CONSTRAINT [DF__Xe__maXe__2A4B4B5E]  DEFAULT ([dbo].[tuDong_maXe]()) FOR [maXe]
GO
ALTER TABLE [dbo].[CTHoaDonXe]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonXe_HoaDonXe] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDonXe] ([maHoaDon])
GO
ALTER TABLE [dbo].[CTHoaDonXe] CHECK CONSTRAINT [FK_CTHoaDonXe_HoaDonXe]
GO
ALTER TABLE [dbo].[CTHoaDonXe]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDonXe_Xe] FOREIGN KEY([maXe])
REFERENCES [dbo].[Xe] ([maXe])
GO
ALTER TABLE [dbo].[CTHoaDonXe] CHECK CONSTRAINT [FK_CTHoaDonXe_Xe]
GO
ALTER TABLE [dbo].[HoaDonXe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonXe_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDonXe] CHECK CONSTRAINT [FK_HoaDonXe_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonXe]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonXe_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDonXe] CHECK CONSTRAINT [FK_HoaDonXe_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_MauXe] FOREIGN KEY([maMau])
REFERENCES [dbo].[MauXe] ([maMau])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_MauXe]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_NhaCungCap] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_NhaCungCap]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_NuocSanXuat] FOREIGN KEY([maNSX])
REFERENCES [dbo].[NhaSanXuat] ([maNSX])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_NuocSanXuat]
GO
USE [master]
GO

/*insert data*/
insert into [dbo].[NhanVien] values ([dbo].[tuDong_maNV](),N'Nguyễn Thị Hảo Anh',1,'02575157', N'410, Thới An, Q.12, TP.HCM','0356945125', 1)
insert into [dbo].[NhanVien] values ([dbo].[tuDong_maNV](),N'Nguyễn Thùy', 1,'256952102',N'555, Tân Chánh Hiệp, Q.12, TP.HCM','0856159825', 1)
insert into [dbo].[NhanVien] values ([dbo].[tuDong_maNV](),N'Phạm Hoàng Khang', 0,'256002458',N'117, Phan Huy Ích, Q.12, TP.HCM','0814852166', 1)

insert into [dbo].[TaiKhoan] values ('NV001','admin','123', 1)
insert into [dbo].[TaiKhoan] values ('NV002','user','123',0)
insert into [dbo].[TaiKhoan] values ('NV003','khang','khang',0)
